.main-menu-wrapper{
    height: 80px;
    .main-menu{
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        background: none;
        .main-menu-item.ivu-menu-item{
            margin-right: 30px;
            height: 50px;
            line-height: 50px;
            border-radius: 25px;
            padding: 0 20px 0 10px;
            font-size: 22px;
            color: #fff;
            &:hover{
                background-color: rgba(153,182,209,0.1);
            }
            &.ivu-menu-item-active{
                background-color: #f08300;
            }
        }
    }
}